@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Override default information */

* {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

/* Navigation Bar */

.navbar {
    width:100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    background-color: lightgrey;
}


.homepage_body {
    background: url(../images/360_F_365755691_ylmF7k7q0wxMLIaeZdR7DcKBcKOf5Yot.jpeg) no-repeat;
    background-size: cover;
    background-color: #e6e6e6;
    height: 150vh;
}

.homepage {
    width: 80vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


.nav-links {
    text-align: center;
    display: flex;
    width:100%;
}

.nav-links li{
    display: inline-block;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li a {
    text-decoration: none;
    color:black;
    position: relative;
}

.welcome {
    text-align: center;
    font-size: x-large;
    margin-top: 20%;
}

.nav-links li a:hover {
    color: darkgray;
}

.nav-links li a:visited{
    color: crimson;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-list li{
    display:inline-block;
    margin: 15px;
    text-align: center;
    margin-bottom: 0;
}

.about-me{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
}


figure.yichen_pic {
    border: solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
    margin-top: 40px;
}

img {
    max-width: 200px;
    max-height: 170px;
}

figcaption {
    text-align: center;
    font:italic smaller sans-serif;
    padding:3px;
}

.about_body {
    background: url(../images/empty-minimal-wooden-top-table-wood-podium-in-white-background-with-green-leaves-for-product-presentation-mock-up-show-cosmetic-product-display-podium-stage-pedestal-or-platform-3d-free-vector.jpeg) no-repeat;
    background-size: cover;
}

.self-introduction {
    text-align: center;
    margin-top: 30px;
}

.education-body {
    background: url(../images/mitchell-luo-xREzOtWzDrQ-unsplash-scaled.jpeg) no-repeat;
    background-size: cover;
}

.education-main {
    margin-top: 10%;
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.education-title {
    color:slategrey;
    font-family: fantasy;
}

.relevant-course {
    color:slategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.course-list {
    margin-top: 5px;
}

.themebutton{
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-right: 5px;
    width: 150px;
}

.dark {
    background: #222;
    color: #e6e6e6;
}

.date-time {
    text-align: center;
    margin-top: 20px;
}

.radio-div {
    margin-top: 10px;
}

.submission-button {
    margin-top: 10px;
    margin-bottom: 10px;
}




