body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  margin-left: 5px;
  margin-right: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border: slateblue 1px solid;
}

nav a {
  margin: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskContainer {
  background-color: grey;
  padding: 5px;
  margin: 5px;
}

.iconNameContainer {
  display: flex;
  justify-content: space-between;
}

.form-control {
  margin: 20px 0;
  display: flex;
}

.form-control label {
  margin-right: 10px;
}
