body {
    background-color: rgb(231, 225, 214);
    font-family: 'Roboto', sans-serif;
}

header {
   text-align: center; 
}

h1 {
    color: #1050aa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2em;
    
}

