body {
    background-color: rgb(231, 225, 214);
    font-family: 'Roboto', sans-serif;
}

header {
   text-align: center; 
   border-bottom: 2px dotted darkslateblue;
}

h1 {
    color: #1050aa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2em;
}

p:first-of-type {
    font-weight: bold;
}

.experience , .education {
    border: 2px dashed darkgoldenrod;
    margin-top: 10px;
    margin-bottom: 10px;
}


